body{
	margin: 0;
	padding: 0;
	background-color: #FFE4E1;
}
.carousel{
	height: 600px;
	perspective: 250px;
}
.carousel .carousel-item{
	width: 400px; height: 340px;
}
.carousel .carousel-item img{
	width: 100%; 
}