body{
	margin: 0;
	padding: 0;
	font-family: lato; background-color: #FFE4E1;
}
.about{
	padding: 40px 0;
}
.header-text h2{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 10px;
}
.area{
	width: 100%;
	height: 50vh;
	background-image: url(../img/imagen.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center;
}
.area:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center;
	mix-blend-mode: screen;
}
.img-text h2{
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 100;
}
.img-text h4{
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 100;
}
.img-text p{
	font-size: 18px;
	line-height: 1.8;
}
.img-text a{
	background: deepskyblue;
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
}